body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  /* display: flex; */
}
#contain {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
}

#result {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  video {
    width: 300px;
    height: auto;
  }
}

.font-bigger {
  font-size: 27px;
}

.img-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 12px;
}

.email-binus {
  color: rgb(0, 152, 219);
}

.whatsapp {
  color: rgb(74, 201, 89);
}

.github {
  color: black;
}
